/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #20232a;
    color: #fff;
    padding: 0 2rem;
    height: 60px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar li {
    cursor: pointer;
}

.navbar li:hover {
    color: #61dafb;
}
